.nav {
    background-color: limegreen;
    height: 1000px;
    padding: 20px;
}

.nav {
    grid-area: n;
  }

  .item a {
      color: white;
      text-decoration: none;
  }

  .item a.active {
      color: black;
  }